@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/dist/allstyles.css" />
    <script src="https://npmcdn.com/react@0.14.2/dist/react.js" charset="utf-8"></script>
    <script src="https://npmcdn.com/react-dom@0.14.2/dist/react-dom.js" charset="utf-8"></script>
    
</head>
    <body class="container">
        <h1>This is the entry page</h1>

        <!-- TODO Delete this legacy tutorial options -->
        <br /><br /><br />
        <div id="basicreactcomponent"></div>
        <br /><br /><br />
        <div id="reactcomponentwithapidata"></div>
       
        <script src="~/dist/bundle.js"></script>
    </body>
</html>

