@import "variables";

﻿/* Generic page layout */
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    background: $d2-red-dark;
}

a {
    &:visited {
        color: $d2-tan-dark;
    }
    &:hover {
        color: $d2-tan-dark;
    }
}

#runewordapp {
    height: inherit;
}

#header {
    grid-area: header;
    background-color: black;
    padding-left: 2rem;
    color: $d2-tan;
}

#content {
    grid-area: content;
    overflow: auto;
    display: grid;
    // Rows 1 and 3 used for margins
    grid-template-rows: 2rem 1fr 2rem;
}

#footer {
    grid-area: footer;
    background-color: black;
    padding-top: .5rem;
    padding-left: 2rem;
    color: $d2-tan;
}

.container-grid {
    height: inherit;
    display: grid;
    grid-template-areas:
        'header'
        'content'
        'footer';
    grid-template-rows: 3rem 1fr 2rem;
}

/* Rune checkboxes */
.rune-image {
    width: 25px;
    height: 25px;
}
