@import "variables";

#runes-grid {
    display: grid;
    // col 1 and 4 used to create margins
    grid-template-columns: 10rem 1fr 1fr 10rem;
    height: 100%;
    padding-top: 2rem;
}

#rune-options {
    grid-column: 2;
    overflow-y: auto;
    margin-right: 3rem;
}

#runeword-results {
    grid-column: 3;
    height: 90%;
    background-color: $d2-tan;
    color: black;
    overflow-y: auto;
    padding-left: 1rem;
}

#search-submit {
    margin-top: 2rem;
}

.rune-col {
    flex-basis: 100%;
    background-color: black;
    color: $d2-tan;
    margin: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.rune-row {
    display: flex;
    flex-direction: row;
}
